.menu-button {
    -fx-background-color: transparent;
	-fx-background-image: url("../images/frontier/mapOptionsMenuButton40.png");
}

.menu-button:hover {
	 -fx-background-image: url("../images/frontier/mapOptionsMenuButtonArmed40.png");
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    -fx-padding: 0;
}

.menu {
	-fx-background-color: #ffff44;
}

.menu-item {
    -fx-background-color: radial-gradient(focus-distance 100%, center 50% 50%, radius 55%, #4d4d4d, #333333);
}

.menu-item > .label {
	-fx-text-fill: #ffffff;
}

.menu-item:hover > .label {
	-fx-text-fill: #ffff44;
}

.check-menu-item {
    -fx-background-color: radial-gradient(focus-distance 100%, center 50% 50%, radius 55%, #4d4d4d, #333333);
}

.check-menu-item > .label {
	-fx-text-fill: #ffffff;
}

.check-menu-item:hover > .label {
	-fx-text-fill: #ffff44;
}

.vbox {
    -fx-background-color: radial-gradient(focus-distance 100%, center 50% 50%, radius 55%, #4d4d4d, #333333);
}

/*.titled-pane:armed > .label {
    -fx-text-fill: #ffffff;
}*/

.titled-pane > .title {
  -fx-background-color: linear-gradient(#363636 0%, #363636 5%, #0c0c0c 50%, #0c0c0c 51%, #333333 100%);
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
  -fx-padding: 0.166667em 1.166667em 0.25em 0; /* 2 14 3 0 */
  -fx-color: -fx-focus-color;
  -fx-text-fill: #ffffff;
}

.titled-pane > .title > .arrow-button .arrow {
  -fx-background-color: white;
}